* {
    Margin: 0;
    Padding: 0;
    box-sizing: border-box
}

/*BARRA DE NAVEGACION*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

.logotipo{
    display: flex;
    padding-left: 15px;
}

header h2{
    margin-top: 30px;
    padding-left: 15px;
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    display: block;
}

nav a{
    font-size: 25px;
    padding-right: 50px;
}

h1{
    font-size: 50px;
    margin: 50px;
    text-align: center;
    text-decoration: underline;
}

/*PAGINA PRINCIPAL*/
.formulario{
    margin: 80px;
    height: auto;
    width: auto;
    font-size: 19px;
    font-family: monospace;
    text-align: center;
    background-color: aqua;
    
}

.formulario p{
    font-size: 30px;
}

.radio-input{
    margin-right: 5px;
    margin: 35px;
}

.valor{
    width: 200px;
    font-size: 20px;
    margin: 20px;
    border-radius: 7px;
}

.convertir{
    background-color: gray;
    color: white;
    height: 40px;
    width: 250px;
    font-size: 15px;
    border-radius: 20px;
}


